/*

    JUMBO

*/

#jumbo {
    color: @color-blue !important;
    position: relative;
    overflow: hidden;
    background: url(/images/jumbo.png) no-repeat center;
    background-size: cover;
    height: 100%;
    max-height: 520px;
}

#jumbo h1, #jumbo .h1 {
    font-weight: 100;
    line-height: normal;
    font-size: 52px;
    color: @color-blue !important;
    padding-top: 175px;
}
#jumbo h1 .description, #jumbo .h1 .description {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 52px;
    color: #fff;
}
#jumbo .description {
    padding: 15px 0px 40px;
    font-style: normal;
    line-height: normal;
    color: @color-dark;
    font-weight: 100;
    line-height: normal;
    font-size: 24px;
}
.btn-main {
    background: linear-gradient(190.15deg, rgba(107, 197, 247, 0.9) 14.59%, rgba(255, 255, 255, 0) 85.41%), #109AD4;
    background-blend-mode: hard-light, normal;
    border-radius: 250px;
    width: 200px;
    height:40px;
    padding-top: 8px;
    color: @color-white;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
}
.btn-main:hover {
    color: @color-white;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}

@media (max-width: 992px) {
    #jumbo {}
    #jumbo h1 {}
    #jumbo h1 b {}
    #jumbo .description {}
    #jumbo .btn-main {}
}
@media (max-width: 768px) {
    #jumbo {}
    #jumbo h1 {}
    #jumbo h1 b {}
    #jumbo .description {}
    #jumbo .btn-main {}
}


/*

    SALES

*/
.sales-wrap {
    position: relative;
    top: -60px;
    padding: 20px 70px 70px;
    background: @color-white;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.main-sales .sales-block {
    padding-bottom: 30px;
    height: 160px;
}
.main-sales .sales-title {
    font-size: 64px;
    text-align: right;
    color: @color-blue;
}
.main-sales .sales-description {
    text-align: left;
    font-size: 16px;
    color: @color-black;
    padding-top: 16px;
}
.main-sales .sales-date {
    text-align: left;
    font-size: 16px;
    color: rgba(255, 0, 0, 0.83);
}
.main-sales .sales-info {
    display: inline-block;
    padding-left: 70px;
}



/*

    SERVICE

*/
.service-basic-item {
    padding: 60px 0px 40px;
    min-height: 100px;
    text-align: left;
}
.service-basic-item-image {
    height: 100%;
    width:100%;
    padding-left: 125px;
    min-height: 170px;
}
.service-basic-item-title {
    color: @color-blue;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 24px;
    padding-bottom: 12px;
}
.service-basic-item-description {
    color: @color-dark;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 16px;
    height: 100px;
}

/*

    DOCTORS

*/
.doctor-basic {
    text-align: left;
}
.doctor-basic-img {
    width: 230px;height: 100px;
}
.doctor-basic-img img {
    width: auto;
    height: 100%;
}
.doctor-basic-name {
    color: @color-blue;
    font-size: 24px;
    font-weight: 100;
    padding: 20px 0px;
}
.doctor-basic-description {
    font-size: 16px;
    color: @color-dark;
    height: 100px;
    padding-bottom: 15px;
    font-weight: 100;
}
.doctor-basic-position {}
.doctor-basic-specialization {}
.doctor-basic-scientist {}
.doctor-basic-start_working {
    color: @color-blue;
    font-size: 20px;
    padding-bottom: 35px;
}
.doctor-basic-button {
    width:150px;
    height:30px;
    font-size: 14px;
    padding: 7px 20px;
    border: 1px solid @color-blue;
    color: @color-blue;
    background: @color-white;
    border-radius: 200px;
    transition: 0.3s;
}
.doctor-basic-button:hover {
    color: @color-white;
    background: @color-blue;
}

/*

    EXAMPLES

*/
.example-item {}
.example-item-image {
    max-width: 400px;
    min-height: 225px;
    width: 100%;
}
.example-item-text {
    width: 100%;
    padding-left: 50px;
}
.example-item-description {
    color: @color-black;
    font-size: 14px;
}
.example-item-link {
    padding-top: 23px;
    color: @color-blue;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
}
.juxtapose {
    width: 400px !important;
    height: 300px !important;
    max-width: 400px !important;
}

/*

    REVIEWS

*/
.review-item{}
.review-item-name{
    font-size: 20px;
}
.review-item-doctors {}
.review-item-doctors-title {
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
}
.review-item-doctor {
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
}
.review-item-content {
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0px 25px;
}
.review-item-services {

}
.review-item-services-title {
    color: @color-blue;
    font-weight: 300;
    font-size: 14px;
}
.review-item-service {
    font-weight: 300;
    font-size: 14px;
}
.review-carousel-arrow-left {

}
.review-carousel-arrow-right {

}

@media (max-width: 768px) {
    .reviews-wrap {
    }
    .review-img {
    }
    .review-header .review-name {
    }
    .review-header .review-img, .review-header .review-name {
    }
    .review-body .review-text {
    }
}


/*

    Sertificates and Interior

*/
.sertificate-img {
    width: 230px;
    height: 320px;
}
.interirio-img {
    width: 230px;
    height: 230px;
}


/*

    MAP

*/

.map-wrap {
    width: 100%;
    height: 480px;
    position: relative;
}
.map {
    position: absolute;
    width: 100%;
    height:100%;
}
.map-info-wrap {
    position: absolute;
    left: 50px;
    top: 60px;
    background: white;
    min-width: 360px;
    min-height: 360px;
}
.map-info {
    padding: 24px 30px;
    background: #fff;
}

.map-info-main-title {
    color: @color-blue;
    font-size: 24px;
    padding-bottom: 25px;
}
.map-info-title {
    color: @color-black;
    font-size: 24px;
    padding-bottom: 12px;
}
.map-info-description {
    color: @color-dark;
    font-size: 16px;
    padding-bottom: 15px;
    width: 330px;
}


@media (max-width: 768px) {
    .map-info-wrap {
        left: 0px;
        bottom: 0px;
        margin-bottom: -50%;
        top: auto;
    }
    .contacts-section {
        padding-bottom: 220px;
    }
}