/*   MAIN START */
@color-blue: #109AD4;
@color-blue-light: #6BC5F7;
@color-blue-gradient: linear-gradient(221.83deg, rgba(107, 197, 247, 0.9) 14.59%, rgba(255, 255, 255, 0) 85.41%), #109AD4;;
@color-white: #fff;
@color-black: #000;
@color-dark: #444444;

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.42857143;

}
div {
  font-size: 16px;
  line-height: 1.42857143;
}

body, p, li, a {
  font-family: 'Roboto', sans-serif;
}
.breadcrumb {
  background: none;
}
.breadcrumb-before {
  padding-top: 110px !important;
}
.breadcrumb-after {
  padding-bottom: 60px !important;
}
.breadcrumb > li + li:before {
  content: ' - ';
}
.breadcrumb > li > a {
  color: @color-dark;
}
.breadcrumb > li.active {
  color: @color-blue;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  margin:0 auto;
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', sans-serif;
  //font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  color: @color-blue;
  padding-bottom: 25px;
}

h2, .h2 {
  padding-top: 50px;
  padding-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  text-align: left;
  color: @color-blue;
}
h2:after ,.h2:after {
  content: '';
  margin-left: 0px;
  margin-top: 34px;
  height: 1px;
  width: 150px;
  background: @color-black;
  display: block;
}
h3, .h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
}
h4, .h4{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
}
a, a:hover {
  transition: 0.5s;
}
body, p, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

a, .href {
  color: @color-blue;
  outline: 0;
  text-decoration: none !important;
}
a, .href:hover {
  color: @color-blue-light;
  text-decoration: none !important;
}

::selection {
  background: #fff; /* Safari */
  color: #000;
}
::-moz-selection {
  background: #fff; /* Firefox */
  color: #000;
}

.section {
  position: relative;
}
section-gray {
  background-color: #F8F8F8;
}
.container {
}


@media (max-width: 768px) {
    .container {
    }
    h2, .h2 {
    }
}


/* MAIN --- END */